@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, monospace;
    font-weight: bold;
    font-size: 9pt;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @base05;
}

tooltip {
    background: @base00;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @borders;
}

#workspaces button {
    padding: 5px;
    color: @base02;
    margin-left: 5px;
    margin-right: 5px;
}

#workspaces button.active {
    color: @base04;
}

#workspaces button.focused {
    color: @base04;
    background: @base09;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @base08;
    background: @base0B;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base00;
    color: @base03;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-wlogout,
#custom-dualsensebattery,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#idle_inhibitor,
#cpu,
#memory,
#backlight {
    background: @base00;
    padding: 0px 10px;
    margin: 5px;
    border: 1px solid @borders;
    border-radius: 10px;
}

#custom-caffeine {
    color: @base0C;
}

#custom-language {
    color: @base0F;
}

#custom-wlogout {
    color: @base0C;
    padding-right: 12px;
}

#custom-dualsensebattery {
    color: @base0C;
    padding-right: 12px;
}

#window {
    margin-left: 10px;
    margin-right: 10px;
}

#clock {
    color: @base09;
}

#backlight {
    color: @base0D;
}

#network {
    color: @base0A;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @base0D;
}

#pulseaudio.microphone {
    color: @base0E;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

@keyframes charging {
    to {
        background: @base0B;
        color: @base00;
    }
}

#battery {
    color: @base0B;
    padding-right: 10px;
    border-right: 0;
    border-radius: 10px 0 0 10px;
}
#battery.charging {
    animation-name: charging;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.bat1 {
    border-right: 1px solid @borders;
    margin-left: -3px;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}
#battery.warning:not(.charging) {
    color: @base09;
}
#battery.critical:not(.charging) {
    color: @base08;
}
